<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.modules.mapper.BackStageMapper">
    <!--查询该人员的品牌证照信息列表 -->
    <select id="selectBrandPage" parameterType="java.util.Map" resultType="java.util.Map">
       select tab_bas.id,tab_type.c_name,tab_bas.brand_name,tab_dic.name as qyxz_name,tab_bas.chanpmc
        ,case when tab_bas.complete =0 then '申报中' else '已完成' end as complete,DATE_FORMAT(tab_bas.add_time,'%Y-%m-%d %H:%i:%s') as add_time from brand_basic_infor tab_bas,company_type as tab_type,(select * from brand_dictionary where p_code='A') as tab_dic
        where tab_bas.id in (
            select brand_id from sys_user tab_a,brand_user_role tab_b where tab_a.id=tab_b.user_id and tab_a.c_type=tab_b.c_type
        )
        and tab_bas.c_type=tab_type.c_type and tab_bas.gongsixz=tab_dic.code
        <if test="paraMap.brandName != null and paraMap.brandName !=''">
            AND tab_bas.brand_name LIKE CONCAT('%',#{paraMap.brandName},'%')
        </if>
        order by tab_bas.add_time
    </select>
</mapper>
