<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.modules.mapper.BackStageMapper">
    <!--查询该人员的品牌证照信息列表 -->
    <select id="selectBrandPage" parameterType="java.util.Map" resultType="com.idc.modules.entity.excle.BrandInforListExcle">
       select tab_bas.id,tab_bas.c_type cType,tab_type.c_name,tab_bas.brand_name,tab_dic.name as qyxz_name,tab_bas.chanpmc,tab_per.p_name
        ,case when tab_bas.complete =0 then '申报中' else '已完成' end as complete,DATE_FORMAT(tab_bas.add_time,'%Y-%m-%d %H:%i:%s') as add_time from brand_basic_infor tab_bas,company_type as tab_type,(select * from brand_dictionary where p_code='A') as tab_dic
        ,brand_person tab_per
        where tab_bas.id in (
            select brand_id from sys_user tab_a,brand_user_role tab_b where tab_a.id=tab_b.user_id and tab_a.c_type=tab_b.c_type
        )
        and tab_per.p_type=1 and tab_per.brand_id=tab_bas.id
        and tab_bas.c_type=tab_type.c_type and tab_bas.gongsixz=tab_dic.code
        <if test="paraMap.shenbqy != null and paraMap.shenbqy !=''">
            AND tab_bas.brand_name LIKE CONCAT('%',#{paraMap.shenbqy},'%')
        </if>
        <if test="paraMap.qiylx != null and paraMap.qiylx !=''">
            and tab_bas.c_type=#{paraMap.qiylx}
        </if>
        <if test="paraMap.qiyxz != null and paraMap.qiyxz !=''">
            and tab_bas.gongsixz=#{paraMap.qiyxz}
        </if>
        <if test="paraMap.sbzt != null and paraMap.sbzt !=''">
            and tab_bas.complete=#{paraMap.sbzt}
        </if>
        order by tab_bas.add_time
    </select>
    <select id="getBrandManuId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select coalesce(brand_id,0) as brand_id from brand_user_role where user_id in (select user_id from brand_user_role where brand_id=#{id}) and c_type=1
    </select>

    <select id="getSummaryNum" resultType="com.idc.modules.entity.excle.BrandCountExcle">
        select sum(case when c_type=1 then 1 else 0 end) as macNum,sum(case when c_type=1 then 1 else 0 end) as agentNum,sum(1) as num from brand_basic_infor tab_bas
        where tab_bas.id in ( select brand_id from sys_user tab_a,brand_user_role tab_b where tab_a.id=tab_b.user_id and tab_a.c_type=tab_b.c_type)
        <if test="beginDate != null and beginDate !=''">
            and date(tab_bas.add_time) &gt;= date(#{beginDate})
        </if>
        <if test="endDate != null and endDate !=''">
            and date(tab_bas.add_time) &lt;= date(#{endDate})
        </if>
    </select>

    <select id="getEnterpriseInforList" resultType="com.idc.modules.entity.excle.EnterpriseInforExcle">
        SELECT
            brand_name as brandName,
            chanpmc,
            pinpaidz,
            tab_dic.name as qiyxz,
            zhucezijin,
            zhucesjzijin,
            tab_type.c_name as typeName,
            tab_per1.p_name as farName,
            tab_per1.p_phone_num as farPhoneNum,
            tab_per2.p_name as xiaosName,
            tab_per2.p_phone_num as xiaosPhoneNum,
            chanpscdz
        FROM
            brand_basic_infor tab_bas,
            ( SELECT * FROM brand_dictionary WHERE p_code = 'A' ) AS tab_dic,
            company_type AS tab_type,( SELECT brand_id, p_type, p_name, p_phone_num FROM brand_person WHERE p_type =1 ) AS tab_per1,
            ( SELECT brand_id, p_type, p_name, p_phone_num FROM brand_person WHERE p_type =2 ) AS tab_per2
            WHERE
            tab_bas.id IN ( SELECT brand_id FROM sys_user tab_a, brand_user_role tab_b WHERE tab_a.id = tab_b.user_id AND tab_a.c_type = tab_b.c_type )
            AND tab_bas.c_type = tab_type.c_type
            AND tab_bas.gongsixz = tab_dic.CODE
            AND tab_per1.brand_id = tab_bas.id
            AND tab_per2.brand_id = tab_bas.id
            <if test="beginDate != null and beginDate !=''">
                and date(tab_bas.add_time) &gt;= date(#{beginDate})
            </if>
            <if test="endDate != null and endDate !=''">
                and date(tab_bas.add_time) &lt;= date(#{endDate})
            </if>
    </select>
    <select id="getBrandSummaryInforList" resultType="com.idc.modules.entity.excle.BrandSummaryInforExcel">
        SELECT
            brand_name,
            COALESCE ( tab_rev.chenglnx, 0 ) AS chenglnx,
            tab_bas.zhucesjzijin,
            ROUND( ( tab_rev.yingysr_one + tab_rev.yingysr_two + tab_rev.yingysr_three ) / 3, 2 ) AS yingysr,
            COALESCE ( tab_cre.jdzjzmj, 0 ) AS jdzjzmj,
            COALESCE ( tab_cre.txyxsc, 0 ) txyxsc,
            COALESCE ( tab_cre.sczyl, 0 ) sczyl,
            zlfamnum,zlxyynum,zlxxnum,fmnum,
            hjgjnum,gjsjnum,gjshijnum,
            tab_after.dlwz,
            tab_after.shxysj,
            tab_after.mfwbq
        FROM
            brand_basic_infor tab_bas,
            brand_bas_rev_perf tab_rev,
            brand_bas_cre_qua tab_cre,
            brand_bas_aftersale AS tab_after,
            (select brand_id,sum(case when zhllx='C0101' then 1 else 0 end) as zlfamnum,sum(case when zhllx='C0102' then 1 else 0 end) as zlxyynum,sum(case when zhllx='C0103' then 1 else 0 end) as zlxxnum,sum(1) as fmnum from brand_bas_patent group by brand_id) as tab_fm,
            (select brand_id,sum(case when huojjb='C0201' then 1 else 0 end) as hjgjnum,sum(case when huojjb='C0202' then 1 else 0 end) as gjsjnum,sum(case when huojjb='C0203' then 1 else 0 end) as gjshijnum,sum(1) as hjnum from brand_bas_awarded group by brand_id) as tab_hj
        WHERE
            c_type = 1
            AND tab_bas.id = tab_rev.brand_id
            AND tab_bas.id = tab_cre.brand_id
            AND tab_bas.id = tab_after.brand_id
            AND tab_bas.id = tab_fm.brand_id
            AND tab_bas.id = tab_hj.brand_id
            <if test="beginDate != null and beginDate !=''">
                and date(tab_bas.add_time) &gt;= date(#{beginDate})
            </if>
            <if test="endDate != null and endDate !=''">
                and date(tab_bas.add_time) &lt;= date(#{endDate})
            </if>
    </select>
    <select id="getBrandProductInforList" resultType="com.idc.modules.entity.excle.BrandProductInforListExcle">
        select brand_name as brandName,REPLACE(REPLACE(REPLACE(tab_dic.remark,'&lt;p&gt;',''),'&lt;/p&gt;',''),'&lt;br&gt;','') as shuomsl,pinpai,xuliexh,case when is_original=0 then '否' else '是' end as isOriginal,guigecanshu,pianliqk,price,discount,tab_pro.remark from brand_basic_infor tab_bas,brand_summary tab_sum,brand_summary_product tab_pro,brand_dictionary as tab_dic
        where tab_bas.c_type=1 and tab_bas.id=tab_sum.brand_id and tab_pro.sumary_id=tab_sum.id and tab_dic.code=tab_pro.dic_code
        <if test="endDate != null and endDate !=''">
            and date(tab_bas.add_time) &lt;= date(#{endDate})
        </if>
        <if test="endDate != null and endDate !=''">
            and date(tab_bas.add_time) &lt;= date(#{endDate})
        </if>
    </select>
    <select id="getsysUserList" parameterType="java.util.Map"  resultType="com.idc.modules.entity.excle.SysUserExcle">
        select tab_user.id,tab_type.c_name as typeName,brand_name as brandName,user_name as userName,tab_user.create_time as createTime,
        case when is_active=0 then'正常' else '停用' end as useactive  from sys_user tab_user,brand_user_role tab_role,brand_basic_infor tab_bas,company_type tab_type
        where tab_user.id=tab_role.user_id and tab_role.c_type=tab_user.c_type and tab_bas.id=tab_role.brand_id and tab_type.c_type=tab_user.c_type
        <if test="paraMap.qiylx != null and paraMap.qiylx !=''">
            and tab_bas.c_type=#{paraMap.qiylx}
        </if>
        <if test="paraMap.userName != null and paraMap.userName !=''">
            AND tab_user.user_name LIKE CONCAT('%',#{paraMap.userName},'%')
        </if>
        <if test="paraMap.isActive != null and paraMap.isActive !=''">
            and tab_user.is_active=#{paraMap.isActive}
        </if>
        order by tab_user.create_time
    </select>
</mapper>
