<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.modules.mapper.BrandBasRevPerfMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, brand_id, yingyezz, yingyezzfb, zhuczjsjzm, zuzjgdm, shuiwdjz, dailssqzmcl, yingysr_one, yingycwbb_one, yingysr_two, yingycwbb_two, yingysr_three, yingycwbb_three, lvyqk_one, lvyqk_two, lvyqk_three, add_time
    </sql>
    <!--查询该人员的品牌证照信息列表 -->
    <select id="getBrandBasLicense" resultType="java.util.Map">
        select tab_a.id,brand_id,c_type,yingyezz,yingyezzfb,zhuczjsjzm,zuzjgdm,shuiwdjz,dailssqzmcl from brand_bas_rev_perf tab_a,brand_basic_infor tab_b
        where tab_a.brand_id=tab_b.id
        <if test="list != null and list.size() > 0">
            and tab_a.brand_id in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>
